nav {
    background: rgba(255,255,255,0.7);
    padding: 20px 0 5px 0;
    position: fixed;
    z-index: 9997;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    
    @include media(pc) {
        padding: 20px 0 10px 0;
        height: auto;
        background: rgba(255,255,255,0.7);
        position: fixed;
        display: flex;
        
        
    }
    @include media(tab) {
        
    }
    @include media(sp) {
        
    }
}


nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 50px;
    
    
    @include media(pc) {
    
       
    }
    @include media(tab) {
        
    }
    @include media(sp) {
        
    }
}


header a {
    font-size: 20px;
    @include media(pc) {
        

    }
    @include media(tab) {
        
    }
    @include media(sp) {
        
    }
}

nav li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #08a;
    transition: .3s;
    transform: translateX(-50%);
}